<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to My Awesome Site, <%= @user.user_name %></h1>
    <p>
     Otp for verification <b>OTP <%= @user.otp %></b>
    </p>
    <p>
      Your registration was successfull here your otp is generated To login to the site.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
